<% if(locals.user){%>
<div id="chat-box">
<ul id="message-list">
<li class="other-message"><span>Other Message</span></li>
<li class="self-message"><span>Self Message</span></li>
</ul>
<div id="chat-message-input-container">
    <input id="chat-message-input" name="message" placeholder="type message here">
    <button id="send-message">Send</button>
</div>
</div>   
<%}%>