<footer>
    <span>
        <p><i class="fab fa-reddit"></i></p>
    <p>Coding NInja </p>
    <p>@All Rights Reserved</p>
    </span>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/users/profile">Profile</a>
        </li>
    </ul>
</footer>