<h1>Set new password</h1>

<form action="" method="POST">
  <input type="password" name="password" placeholder="Your password" required />
  <input
    type="password"
    name="confirm_password"
    placeholder="Confirm password"
    required
  />
  <button type="submit">submit</button>
</form>
