<div>
    <p>Hii <%=user.name%>!</p>
    <br />
    <br />
    <p>
     To reset your Password click on the below link
    </p>
    <br />
    <br />
    <a href=""></a>
    <p>Thanks!</p>
  </div>
  